# Module 1 Homework

### Question 1: [Index] S&P 500 Stocks Added to the Index


**Which year had the highest number of additions?**

Using the list of S&P 500 companies from Wikipedia's [S&P 500 companies page](https://en.wikipedia.org/wiki/List_of_S%26P_500_companies), download the data including the year each company was added to the index.

Hint: you can use [pandas.read_html](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html) to scrape the data into a DataFrame.

Steps:
1. Create a DataFrame with company tickers, names, and the year they were added.
2. Extract the year from the addition date and calculate the number of stocks added each year.
3. Which year had the highest number of additions (1957 doesn't count, as it was the year when the S&P 500 index was founded)? Write down this year as your answer (the most recent one, if you have several records).

*Context*:
> "Following the announcement, all four new entrants saw their stock prices rise in extended trading on Friday" - recent examples of S&P 500 additions include DASH, WSM, EXE, TKO in 2025 ([Nasdaq article](https://www.nasdaq.com/articles/sp-500-reshuffle-dash-tko-expe-wsm-join-worth-buying)).

*Additional*: How many current S&P 500 stocks have been in the index for more than 20 years? When stocks are added to the S&P 500, they usually experience a price bump as investors and index funds buy shares following the announcement.

In [12]:
import pandas as pd

url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
match = "constituents"
dfl = pd.read_html(url)
# df = pd.read_html(url, match=match)

In [67]:
import datetime

# type(dfl)
df = dfl[0]

subset_columns = ['Symbol', 'Security', 'Date added']
df = df.loc[:, subset_columns]

df['Year added'] = pd.to_datetime(df['Date added']).dt.year

# counts = df.groupby('Year added').size().sort_values(ascending=False)
counts = df.groupby('Year added').count().sort_values(by=['Symbol', 'Year added'], ascending=False)
# print(counts)
counts

            Symbol  Security  Date added
Year added
1957            53        53          53
2017            23        23          23
2016            23        23          23
2019            22        22          22
2008            17        17          17
2024            16        16          16
2022            16        16          16
2023            15        15          15
2021            15        15          15
2018            14        14          14
2015            14        14          14
2012            14        14          14
1997            14        14          14
2002            13        13          13
2020            12        12          12
2009            12        12          12
2007            12        12          12
1998            11        11          11
1976            11        11          11
2013            10        10          10
2011            10        10          10
2006            10        10          10
2010             9         9           9
2000             9         9           9
1999             9         9           9
2014             8         8           8
2001             8         8           8
2005             7         7           7
1995             7         7           7
1994             7         7           7
1985             7         7           7
2004             6         6           6
2025             5         5           5
2003             5         5           5
1989             5         5           5
1984             5         5           5
1982             5         5           5
1988             4         4           4
1993             3         3           3
1992             3         3           3
1986             3         3           3
1983             3         3           3
1981             3         3           3
1980             3         3           3
1996             2         2           2
1987             2         2           2
1979             2         2           2
1975             2         2           2
1973             2         2           2
1972             2         2           2
1970             2         2           2
1969             2         2           2
1965             2         2           2
1991             1         1           1
1978             1         1           1
1974             1         1           1
1964             1         1           1